<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open%20Sans">
        <script type="text/javascript" src="/javascripts/jquery.js"></script>

        <style>
        body {
            font-family: 'Open Sans', serif;
            font-size: 16px;
            padding: 0px;
            /*color: #dfdfdf;*/
            /*background-color: #252525;*/
        }
        </style>
    </head>
    <body>
        <h1>Location Relay</h1>

        <ul>
            <li><a href="/map">Map</a></li>
            <li><a href="/target">Target</li>
            <li><a href="/apidoc">API documentation</li>
        </ul>
    </body>
</html>
