<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open%20Sans">
        <script type="text/javascript" src="/javascripts/jquery.js"></script>

        <style>
        body {
            font-family: 'Open Sans', serif;
            font-size: 16px;
            padding: 0px;
            /*color: #dfdfdf;*/
            /*background-color: #252525;*/
        }
        </style>
    </head>
    <body>
        <h1>Solex Swag</h1>

        Several of the nicest people in the world (Solex users) have suggested I put up a page to take donations for Solex.
        That's pretty cool, so I did that for a week. But I bet it's cooler to get something in return, so I'm switching 
        to that approach. (I think they call that a "pivot" in the startup world.)

        <p>
        Anyway, here's a basic swag page, hand-crafted by someone selling Solex swag.
        </p>

        <h2>Solex Lanyard</h2>
        This is a 3/4" nylon lanyard with a carabiner on the end, and a breakaway piece so you don't hang yourself. Price is
        <b>$14</b>, and shipping is <b>free!</b> No idea what the text field below is for, I guess you could put in a quantity.

        <p>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="YE3UKRMHCJLH4">
        <table>
        <tr><td><input type="hidden" name="on0" value="Solex Lanyard">Solex Lanyard</td></tr><tr><td><input type="text" name="os0" maxlength="200"></td></tr>
        </table>
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
        </p>

        <p>
        <b>Bitcoin:</b> <code>12mGPAVv11QUnxzAC6TQ5AJXkmXYTvzFtH</code>
        </p>

    </body>
</html>
