<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open%20Sans">
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- <script type="text/javascript" src="/javascripts/jquery.js"></script> -->

        <style>
        body {
            font-family: 'Open Sans', serif;
            font-size: 16px;
            padding: 0px;
            color: #dfdfdf;
            background-color: #252525;
        }

        .action_bar {
            color: #efefef;
            background-color: #43a800;
            padding: 12px;
        }

        .content {
            padding-top: 0px;
            padding-left: 16px;
            padding-right: 16px;
        }

        span.prompt {
            float: left;
            font-weight: bold;
            min-width: 150px;
        }

        .field_name {
            display: inline;
            float: left;
            font-weight: bold;
        }

        .val {
            margin-left: 12px
        }

        div.fields {

        }

        div.status {
            margin-top: 12px;
            /*border: 1px solid #676767;*/
            padding: 8px;
        }

        div#follow_options {
            margin-top: 10px;
        }

        div.youre_it {
            color: #65c900;
            font-size: 24px;
            text-align: center;
        }

        div.bordered {
            border: 1px solid #afafaf;
            border-radius: 3px;
            padding: 10px;
        }

        </style>

        <script>
        function geoDistance(lat1, lon1, lat2, lon2, unit) {
            var radlat1 = Math.PI * lat1/180
            var radlat2 = Math.PI * lat2/180
            var theta = lon1-lon2
            var radtheta = Math.PI * theta/180
            var dist = Math.sin(radlat1) * Math.sin(radlat2) + Math.cos(radlat1) * Math.cos(radlat2) * Math.cos(radtheta);
            dist = Math.acos(dist)
            dist = dist * 180/Math.PI
            dist = dist * 60 * 1.1515
            if (unit=="K") { dist = dist * 1.609344 }
            if (unit=="N") { dist = dist * 0.8684 }
            return dist
        }

        function statusMsg(msg) {
            $("#status").html(msg);
        }

        function checkForGeoLocation() {
            var result = true;
            if(!navigator.geolocation) {
                statusMsg("Your browser doesn't support geolocation.");
                $("#btn_follow").prop("disabled", true);
                result = false;
            }

            return result;
        }

        var mIntervalId;
        var mFollowing = false;
        var mCurrentLocation;
        var mLastLocation;
        var mGroupId;
        var mUserId;
        var mUserIsIt = false;

        function pingLocation() {
            function success(position) {
                mCurrentLocation = position.coords;

                var msg = "";
                if(position.coords.heading) {
                    msg += " Heading: " + postiion.coords.heading;
                }

                if(position.coords.speed) {
                    msg += " Speed: " + position.coords.speed + " m/s";
                }

                statusMsg(msg);
                sendLocation(mCurrentLocation);
            }

            function error(posErr) {
                statusMsg("Error getting location: " + posErr.message);
                stopFollowing(false);
            }

            var options = {
                enableHighAccuracy: true,
                maximumAge: 1000,
                timeout: 10000
            };

            navigator.geolocation.getCurrentPosition(success, error, options);
        }

        function enableOptionsGroup(enabled) {
            var disabled = !enabled;
            
            $("input[name='followTypes']").prop("disabled", disabled);
            $("input[name='cruise']").prop("disabled", disabled);
            $("input#chk_look_at_me").prop("disabled", disabled);

            if(enabled) {
                $("#youre_it").show(500);
            } else {
                $("#youre_it").hide(500);
            }
        }

        function getTargetOptions() {
            if(mUserIsIt) {
                var options = {};

                options.look_at_me = $("#chk_look_at_me").prop("checked");
                options.follow_type = $("input[name='followTypes']:checked").prop("tag");
                options.cruise = $("input[name='cruise']:checked").prop("tag");
            }

            return null;
        }

        function sendLocation(coord) {
            // TODO: Add options here if this user is "it".
            var body = {
                groupId: mGroupId,
                userId: mUserId,
                location: {
                    lat: coord.latitude,
                    lng: coord.longitude,
                    time: new Date().getTime()
                }
            };

            var options = getTargetOptions();
            if(options != null) {
                body.options = options;
            }

            $.ajax("/follow/user", {
                    data: JSON.stringify(body),
                    type: "POST",
                    contentType: "application/json",
                    success: function(resp) {
                        mUserIsIt = resp.it;
                        enableOptionsGroup(mUserIsIt);
                    }
                }
            );
        }

        function startFollowing() {
            mGroupId = $("#txt_groupid").val();
            mUserId = $("#txt_userid").val();

            localStorage.setItem("follow.groupId", mGroupId);
            localStorage.setItem("follow.userId", mUserId);

            statusMsg("Waiting for location");
            mIntervalId = setInterval(pingLocation, 2000);
            mFollowing = true;
            $("#btn_follow").html("Stop Following");
        }

        function stopFollowing(setStatusMsg) {
            if(setStatusMsg) {
                statusMsg("Not following");
            }

            clearInterval(mIntervalId);

            $.ajax("/follow/user/" + mGroupId + "/" + mUserId, {
                    type: "DELETE",
                    contentType: "application/json",
                    success: function(resp) {
                        console.log("stopFollowing() success: resp=" + JSON.stringify(resp));
                        mFollowing = false;
                        $("#btn_follow").html("Follow Me");
                    }
                }
            );
        }

        $(document).ready(function() {
            if(checkForGeoLocation()) {
                $("#txt_groupid").val(localStorage.getItem("follow.groupId"));
                $("#txt_userid").val(localStorage.getItem("follow.userId"));

                enableOptionsGroup(false);
                function setFollowButtonState() {
                    var disabled = true;

                    if($("#txt_groupid").val() !== "" && $("#txt_userid").val() !== "") {
                        disabled = false;
                    }

                    $("#btn_follow").prop("disabled", disabled);
                }

                $(".field").on("change paste keyup", function() {
                    setFollowButtonState();
                });

                setTimeout(function() {
                    setFollowButtonState();
                }, 2000)

                $("#btn_follow").click(function(evt) {
                    if(mFollowing) {
                        stopFollowing(true);
                    } else {
                        startFollowing();
                    }
                });

                $("#btn_follow").prop("disabled", true);
            }
        });
        </script>
    </head>
    <body>
        <h2 class="action_bar">Solex Target</h2>
        <div class="container-fluid">
            <p>
            Specify a group name (the same as other people in your target group), and a user name which is unique 
            within the group. Then press <b>Follow Me</b>.
            </p>
            <form class="form-inline">
                <div class="form-group">
                    <label for="text">Target Group:</label>
                    <input type="text" class="form-control" id="txt_groupid">
                </div>
                <div class="form-group">
                    <label for="text">Target User:</label>
                    <input type="text" class="form-control field" id="txt_userid">
                </div>

                <button type="button" class="btn btn-default field" id="btn_follow">Follow Me</button>

                <br/><br/>
                <div class="form-group bordered" id="follow_options">
                    <label>Options:</label><br/>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="chk_look_at_me">Look at Me
                        </label>
                    </div>

                    <br/>
                    <br/>

                    <label>Follow Type:</label>&nbsp;
                    <div class="radio-inline">
                        <input type="radio" name="followTypes" id="follow_orbit" tag="orbit">Orbit
                    </div>
                    <div class="radio-inline">
                        <input type="radio" name="followTypes" id="follow_leash" tag="leash">Leash
                    </div>
                    <div class="radio-inline">
                        <input type="radio" name="followTypes" id="follow_freelook" tag="free_look">Free Look
                    </div>

                    <br/><br/>

                    <label>Cruise:</label>&nbsp;
                    <div class="radio-inline">
                        <input type="radio" name="cruise" id="reverse" tag="reverse">Reverse
                    </div>
                    <div class="radio-inline">
                        <input type="radio" name="cruise" id="pause" tag="pause">Pause
                    </div>
                    <div class="radio-inline">
                        <input type="radio" name="cruise" id="forward" tag="forward">Forward
                    </div>
                </div>
            </form>

            <div class="status">
                <div class="field_name">Status:</div>
                <div style="float:left" class="val" id="status">--</div>
                <br/>
                <div class="youre_it" id="youre_it">You're It</div>
            </div>
        </div>
    </body>
</html>
